<ion-view view-title="Vertretungsplan">
  <ion-content class="has-header">
    <!-- <div ng-hide="authData" class="card" ng-click="login()">
      <button class="item">
        login
      </button>
    </div>

    <div class="card" ng-show="authData">
      <div class="item item-text-wrap">
        Hello
      </div>
    </div> -->
    <div id="table">
    </div>



  </ion-content>

  <div class="tabs tabs-icon-top">
    <a class="tab-item barPers" ng-click="personal()">
      <i class="icon ion-ios-person"></i>
    </a>
    <a class="tab-item barStufe" ng-click="stufe('EF')">
      EF
    </a>
    <a class="tab-item barStufe" ng-click="stufe('Q1')">
      Q1
    </a>
    <a class="tab-item barStufe" ng-click="stufe('Q2')">
      Q2
    </a>
  </div>
</ion-view>
